.animalcontainer {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  height: 800px;
}
.animal {
  flex: 1;
  border: 5px solid transparent;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}
.animal > * {
  flex: 1 1 100%;
}
button.BuyMe {
  background: transparent;
  width: 150px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-end;
}

button.BuyMe:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
button.BuyMe:disabled {
  background: lightslategray;
  border: none;
  color: lightgray;
  cursor: not-allowed;
}
